<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/design.css' %}">

    <title>RAD</title>
  </head>
  <body class="mt-5">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
      <a class="navbar-brand" href="index.html">Raul Arrafi Delfarra</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="{% url 'RAD:index' %}">About</a>
          <a class="nav-item nav-link active" href="{% url 'RAD:experience' %}">Experience</a>
          <a class="nav-item nav-link active" href="{% url 'RAD:education' %}">Education</a>
          <a class="nav-item nav-link active" href="{% url 'RAD:skills' %}">Skills</a>
          <a class="nav-item nav-link active" href="{% url 'RAD:contact' %}">Contact</a>
          <a class="nav-item nav-link active" href="{% url 'RAD:Schedule' %}">Schedule</a>
          <a class="nav-item nav-link active" href="{% url 'RAD:portofolio' %}">Portofolio</a>
        </div>
      </div>
      </div>
    </nav>

<section id="schedule" class="ganjil">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <form action='' method="POST">
        {% csrf_token %}
        {{ form }}
        <div class="centre-items">
        <input type="submit" class="btn btn-primary" value="Add Schedule">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
<div class="col">
  <table class="table">
    <thead>
      <tr>
      <th scope="col">Day</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Location</th>
      <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for jadwal in sched %}
        <tr>
        <th scope="row">{{jadwal.Day}}</th>
        <td>{{jadwal.Date}}</td>
        <td>{{jadwal.Time}}</td>
        <td>{{jadwal.Name}}</td>
        <td>{{jadwal.Category}}</td>
        <td>{{jadwal.Location}}</td>
        <td><a href="{% url 'RAD:Delete' pk=jadwal.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
</section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>